

body{
    background-color: #392061;
    font-style: normal;
}


h1{
    color: #F0F2A6;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;

}

header {text-align: center;
background-color: #AA6373;
height: 12.5em;
}

.profilepicture {
    float: left;
    width: 12.5rem;
}

.about {padding-top: 3rem;
    font-size: 6em;
    font-style: normal;
}

article {font-family: 'Roboto , sans-sarif';}

p {font-family:'Roboto', sans-serif;
    color: #F0F2A6;
    font-size: 1.1rem;

}

ul {color: #F0F2A6;
font-size: 1.1rem;
font-family: 'Roboto', sans-serif;

}
/* .first2 {background-color: #AA6373;
width: 25%;

}

.second2 {background-color: #AA6373;
width: 25%;
position: relative;;
} */

section {
    float: left;
    width: 20%;
    background-color: #AA6373;
    height: 20rem;
}

img {width: 150px;}

.bb3 {width: 160px;
height: 240px;
margin-top: -16px;
}

@media all and (max-width: 500px) {
    header, section {
        float: none;
        width: auto;
    }
    img {display: none;}
    .about {
        font-size: 2em;
    }
}

@media all and (max-width: 630px) and (min-width: 500px) {
    .about {
        font-size: 2em;
    }
}